<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Marcin Kołodziejczak">
        <title>Scelper.com - aplikacja progresywna dla scenarzystów filmowych</title>

        <base href="/beta">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="styles.7adb5c05cbe113cf707d.bundle.css" rel="stylesheet"/></head>
    <body>
        <sce-root>
            <div class="loader--bootstrapping"></div>
        </sce-root>
    <script type="text/javascript" src="inline.631c6d3e0b871c97ce18.bundle.js"></script><script type="text/javascript" src="polyfills.2d45a4c73c85e24fe474.bundle.js"></script><script type="text/javascript" src="vendor.5b64c38770f6300e0e96.bundle.js"></script><script type="text/javascript" src="main.21ca02a60861c37b1a59.bundle.js"></script></body>
</html>
