<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Marcin Kołodziejczak">
        <title>Scelper.com - aplikacja progresywna dla scenarzystów filmowych</title>

        <base href="/beta">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="styles.614f349ad9a60c491074.bundle.css" rel="stylesheet"/></head>
    <body>
        <sce-root>
            <div class="loader--bootstrapping"></div>
        </sce-root>
    <script type="text/javascript" src="inline.de0b5351749a63e0f3d1.bundle.js"></script><script type="text/javascript" src="polyfills.2d45a4c73c85e24fe474.bundle.js"></script><script type="text/javascript" src="vendor.0e2badb35b797c107cfd.bundle.js"></script><script type="text/javascript" src="main.a852569af46b95d33f37.bundle.js"></script></body>
</html>
